<div class="text-center p-2">
  <h2>Lista</h2>
</div>

<div class="text-center p-2">
  <button mat-fab matTooltip="Recargar información" matTooltipPosition="above" (click)="reloadPage()">
    <mat-icon>refresh</mat-icon>
  </button>
</div>

<div *ngIf="usersList.data.length > 0; else noData">
  <table mat-table [dataSource]="usersList" class="mat-elevation-z15">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="text-center"> No </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Nombre </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="creditNumber">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Tarjeta </th>
      <td mat-cell *matCellDef="let element" class="text-center" style="font-style: italic;"> {{element.creditNumber}}
      </td>
    </ng-container>

    <ng-container matColumnDef="pago">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Pago </th>
      <td mat-cell *matCellDef="let element" class="text-center"> ${{element.pago}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<ng-template #noData>
  <h4 class="text-center p-5">No existen registros</h4>
</ng-template>
